@import "master";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  color: #484C55;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: $primary-color;
}

header nav {
  font-weight: 600;

  ul {
    padding: 0;
    margin: 0;

    // To remove space between navbar links.
    font-size: 0;
  }

  li {
    display: inline-block;
    width: 160px;
    color: $secondary-color;

    &:hover {
      background-color: $tertiary-color;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 1.25rem;
  }
}

h1 {
  color: $secondary-color;
  opacity: 0.5;
}

